
/*----------------------------------------------

15. COLUMNS SECTION

------------------------------------------------*/

.column-section {
  margin-top: 50px;
}

div .column-section:first-child, .fullwidth-section + .column-section {
  margin-top: 0px;
}

.column {
  float: left;
  margin-right: 25px;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  &.push-right {
    float: right;
    margin-right: 0;
  }
}

.spaced-none .column {
  margin: 0;
}

[class*='wrapper'] .column-section .column:first-child {
  margin-left: 0px;
}

.spaced-big .column {
  margin-right: 80px;
}

.one-full {
  width: calc(100% - 50px);
  float: none;
  margin-right: 0;
}

.one-half {
  width: calc(50% - 12.5px);
}

.one-third {
  width: calc(33.33% - 16.66px);
}

.two-third {
  width: calc(66.66% - 41.66px);
}

/* ((25*4)/3) + (25/3) */

.one-fourth {
  width: calc(25% - 31.25px);
}

.two-fourth {
  width: calc(50% - 37.5px);
}

.three-fourth {
  width: calc(75% - 43.75px);
}

.one-fifth {
  width: calc(20% - 30px);
}

.two-fifth {
  width: calc(40% - 35px);
}

.three-fifth {
  width: calc(60% - 40px);
}

.four-fifth {
  width: calc(80% - 45px);
}

.one-sixth {
  width: calc(16.66% - 29.1px);
}

.two-sixth {
  width: calc(33.33% - 33.3px);
}

.three-sixth {
  width: calc(50% - 37.4px);
}

.four-sixth {
  width: calc(66.66% - 41.6px);
}

.five-sixth {
  width: calc(83.33% - 45.7px);
}

.one-full {
  width: 100%;
  float: none;
  margin-right: 0;
}

.one-half {
  width: calc(50% - 12.5px);
}

.one-third {
  width: calc(33.33% - 16.66px);
}

.two-third {
  width: calc(66.6% - 8.33px);
}

/* ((25*2)/3) - (25/3) */

.one-fourth {
  width: calc(25% - 18.75px);
}

.two-fourth {
  width: calc(50% - 12.5px);
}

.three-fourth {
  width: calc(75% - 6.25px);
}

.one-fifth {
  width: calc(20% - 20px);
}

.two-fifth {
  width: calc(40% - 15px);
}

.three-fifth {
  width: calc(60% - 10px);
}

.four-fifth {
  width: calc(80% - 5px);
}

.one-sixth {
  width: calc(16.66% - 20.8px);
}

.two-sixth {
  width: calc(33.33% - 16.7px);
}

.three-sixth {
  width: calc(50% - 12.5px);
}

.four-sixth {
  width: calc(66.66% - 8.4px);
}

.five-sixth {
  width: calc(83.33% - 4.2px);
}

.spaced-big {
  .one-half {
    width: calc(50% - 40px);
  }
  .one-third {
    width: calc(33.33% - 53.33px);
  }
  .two-third {
    width: calc(66.6% - 26.66px);
  }
  .one-fourth {
    width: calc(25% - 60px);
  }
  .two-fourth {
    width: calc(50% - 40px);
  }
  .one-fifth {
    width: calc(20% - 64px);
  }
  .two-fifth {
    width: calc(40% - 48px);
  }
}

.spaced-none {
  .one-full {
    width: 100%;
  }
  .one-half {
    width: 50%;
  }
  .one-third {
    width: 33.33%;
  }
  .two-third {
    width: 66.66%;
  }
  .one-fourth {
    width: 25%;
  }
  .two-fourth {
    width: 50%;
  }
  .three-fourth {
    width: 75%;
  }
  .one-fifth {
    width: 20%;
  }
  .two-fifth {
    width: 40%;
  }
  .three-fifth {
    width: 60%;
  }
  .four-fifth {
    width: 80%;
  }
  .one-sixth {
    width: 16.66%;
  }
  .two-sixth {
    width: 33.33%;
  }
  .three-sixth {
    width: 50%;
  }
  .four-sixth {
    width: 66.66%;
  }
  .five-sixth {
    width: 83.33%;
  }
}

.last-col {
  margin-right: 0px !important;
}