
/*----------------------------------------------

11. COMMENTS

------------------------------------------------*/

/* Comments
----------------------------*/

#post-comments {}

div {
  &:first-child #post-comments, #post-comments:first-child {
    margin-top: 60px;
  }
}

.comments {
  .comment-list {
    background: none;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    .comment {
      margin-top: 20px;
      &:first-child {
        margin-top: 0px;
      }
    }
  }
  .comment {
    .comment-inner {
      position: relative;
    }
    .children {
      margin-left: 50px;
      margin-top: 20px;
      list-style: none;
    }
  }
  .user {
    float: left;
    width: 40px;
    -moz-border-radius: 999px;
    -webkit-border-radius: 999px;
    -o-border-radius: 999px;
    border-radius: 999px;
    img {
      -moz-border-radius: 999px;
      -webkit-border-radius: 999px;
      -o-border-radius: 999px;
      border-radius: 999px;
    }
  }
  .time {
    font-size: 13px;
    line-height: 22px;
    text-transform: none;
    letter-spacing: normal;
    margin-top: 0px;
    display: inline-block;
    color: rgba(0, 0, 0, 0.35);
    margin-left: 15px;
  }
}

.text-light .comments .time {
  color: rgba(255, 255, 255, 0.5);
}

.comments {
  .name {
    position: relative;
    .comment-name {
      display: inline-block;
    }
  }
  .comment-content {
    margin-left: 55px;
    position: relative;
    p {
      margin-top: 10px;
    }
  }
  .comment-reply-link, #cancel-comment-reply-link {
    display: inline-block;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    margin-left: 15px;
    float: right;
  }
  #respond {
    margin-top: 15px;
  }
}

/* Leave comment
----------------------------*/

.leavecomment {
  margin-top: 60px;
  margin-bottom: 60px;
}

#footer {
  .footer-comments {
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  }
  &.text-light .footer-comments {
    border-color: rgba(255, 255, 255, 0.21);
  }
}

#single-pagination + .leavecomment {
  margin-top: 0px;
  padding-top: 15px;
}

#reply-title {
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
}

#respond form, .leavecomment form {
  margin-top: 0px;
}

.comment-notes {
  font-size: 0.85em;
  line-height: 1.5em;
}