
/*----------------------------------------------

8. HERO / PAGETITLE

------------------------------------------------*/

#hero {
  position: relative;
  overflow: hidden;
  /*width: calc(100% - 80px);
  margin-left: 80px;
  }
  header.header-right ~#hero { margin-left: 0;*/
  background: rgba(255, 255, 255, 0.05);
  //&::after {
  //  content: '';
  //  display: block;
  //  position: absolute;
  //  width: 100%;
  //  height: 100%;
  //  left: 0;
  //  top: 0;
  //  @include linear-gradient(-225deg, rgba(darken($brand-color, 20%), 0.75) 30%, rgba(darken($brand-color, 50%), 0.35) 80%);
  //}
  &.text-light {
    background: #000000;
  }
  &.hero-full {
    min-height: 100vh;
  }
  &.hero-big {
    min-height: 75vh;
  }
  &.hero-mid {
    min-height: 50vh;
  }
  &.hero-small {
    min-height: 50vh;
  }
  &.hero-xsmall {
    min-height: 25vh;
  }
  #page-title {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
    &:not(.wrapper):not(.wrapper-small) {
      width: calc(100% - 80px);
      padding-left: 40px;
      padding-right: 40px;
    }
    h1, h2, h3, h4, h5 {
      background: rgba($brand-color, 0.50);
      padding: 20px 25px;
      display: inline;
      text-shadow: 0 2px 2px rgba(0,0,0,0.75);
      letter-spacing: -0.03em;
    }
  }
}

/* hero pagetitle */

#page-body #page-title {
  padding-bottom: 60px;
  position: relative;
}

#hero {
  &.hero-full #page-title, &.hero-big #page-title, &[class*='side-'] #page-title {
    margin-top: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
  }
  &.hero-full #page-title.title-top, &.hero-big #page-title.title-top, &[class*='side-'] #page-title.title-top, &.hero-full #page-title.title-bottom, &.hero-big #page-title.title-bottom, &[class*='side-'] #page-title.title-bottom, &.hero-full #page-title.push-bottom:not(.title-top), &.hero-big #page-title.push-bottom:not(.title-top), &[class*='side-'] #page-title.push-bottom:not(.title-top) {
    padding-top: 60px;
    top: 0;
    -webkit-transform: translateY(0%) translateX(-50%);
    -moz-transform: translateY(0%) translateX(-50%);
    -ms-transform: translateY(0%) translateX(-50%);
    -o-transform: translateY(0%) translateX(-50%);
    transform: translateY(0%) translateX(-50%);
  }
  &.hero-full #page-title.title-bottom, &.hero-big #page-title.title-bottom, &[class*='side-'] #page-title.title-bottom {
    top: auto;
    bottom: 0;
    padding-bottom: 60px;
    padding-top: 100px;
  }
  &.hero-full #page-title.push-bottom:not(.title-top), &.hero-big #page-title.push-bottom:not(.title-top), &[class*='side-'] #page-title.push-bottom:not(.title-top) {
    top: auto;
    bottom: 0;
  }
  > .google-map {
    height: 400px;
  }
  &.hero-full > .google-map {
    min-height: 100vh;
  }
  &.hero-big > .google-map {
    min-height: 75vh;
  }
  #scrolldown {
    position: absolute;
    bottom: 30px;
    left: calc(50% - 12px);
    padding-left: 18px;
    z-index: 100;
    &.left {
      left: 48px;
    }
    &.right {
      left: auto;
      right: 48px;
    }
    span.text {
      font-size: 13px;
      line-height: 20px;
    }
    .arrow {
      position: absolute;
      top: calc(50% - 9px);
      left: -7px;
      -webkit-animation: scrolldown-anim 3.4s infinite ease;
      -moz-animation: scrolldown-anim 3.4s infinite ease;
      -o-animation: scrolldown-anim 3.4s infinite ease;
      animation: scrolldown-anim 3.4s infinite ease;
    }
  }
}

/* google map for hero*/

/* scroll down */

@-webkit-keyframes scrolldown-anim {
  70% {
    margin-top: 0px;
  }

  85% {
    margin-top: 4px;
  }

  100% {
    margin-top: 0px;
  }
}


@-moz-keyframes scrolldown-anim {
  70% {
    margin-top: 0px;
  }

  85% {
    margin-top: 4px;
  }

  100% {
    margin-top: 0px;
  }
}


@-o-keyframes scrolldown-anim {
  70% {
    margin-top: 0px;
  }

  85% {
    margin-top: 4px;
  }

  100% {
    margin-top: 0px;
  }
}


@-ms-keyframes scrolldown-anim {
  70% {
    margin-top: 0px;
  }

  85% {
    margin-top: 4px;
  }

  100% {
    margin-top: 0px;
  }
}


@keyframes scrolldown-anim {
  70% {
    margin-top: 0px;
  }

  85% {
    margin-top: 4px;
  }

  100% {
    margin-top: 0px;
  }
}


/* side hero */

#hero-and-body {
  position: relative;
  width: calc(100% - 80px);
  margin-left: 80px;
  overflow: hidden;
}

header.header-right ~ #hero-and-body {
  margin-left: 0;
}

#hero {
  &[class*='side-'] {
    float: left;
    width: 50%;
    height: 100vh;
    margin: 0;
  }
  &[class*='side-right'] {
    left: auto;
    right: 0;
    float: right;
  }
  &[class*='side-left-small'], &[class*='side-right-small'] {
    width: 40%;
  }
  &[class*='side-'] ~ #page-body {
    width: 50%;
    float: right;
    margin: 0;
  }
  &[class*='side-right'] ~ #page-body {
    float: left;
  }
  &[class*='side-left-small'] ~ #page-body, &[class*='side-right-small'] ~ #page-body {
    width: 60%;
  }
}

header {
  &.header-left ~ #hero-and-body #hero[class*='side-left'].is_stuck:not(.sticky_bottom) {
    margin-left: 80px;
  }
  &.header-right ~ #hero-and-body #hero[class*='side-right'].is_stuck:not(.sticky_bottom) {
    margin-right: 80px;
  }
  &.menu-is-open ~ #hero-and-body #hero[class*='side-right'].is_stuck:not(.sticky_bottom), &.action-is-active ~ #hero-and-body #hero[class*='side-right'].is_stuck:not(.sticky_bottom) {
    right: -300px;
    -webkit-transition: left 849ms cubic-bezier(0.74, 0.215, 0.125, 1.02), right 849ms cubic-bezier(0.74, 0.215, 0.125, 1.02);
    -moz-transition: left 849ms cubic-bezier(0.74, 0.215, 0.125, 1.02), right 849ms cubic-bezier(0.74, 0.215, 0.125, 1.02);
    -o-transition: left 849ms cubic-bezier(0.74, 0.215, 0.125, 1.02), right 849ms cubic-bezier(0.74, 0.215, 0.125, 1.02);
    transition: left 849ms cubic-bezier(0.74, 0.215, 0.125, 1.02), right 849ms cubic-bezier(0.74, 0.215, 0.125, 1.02);
    /* custom */
    transition-delay: 0.06s;
  }
  &.header-right {
    &.menu-is-open ~ #hero-and-body #hero[class*='side-right'].is_stuck:not(.sticky_bottom), &.action-is-active ~ #hero-and-body #hero[class*='side-right'].is_stuck:not(.sticky_bottom) {
      right: 300px;
    }
  }
  &.menu-is-open ~ #hero-and-body #hero[class*='side-left'].is_stuck:not(.sticky_bottom), &.action-is-active ~ #hero-and-body #hero[class*='side-left'].is_stuck:not(.sticky_bottom) {
    left: 300px;
    -webkit-transition: left 849ms cubic-bezier(0.74, 0.215, 0.125, 1.02), right 849ms cubic-bezier(0.74, 0.215, 0.125, 1.02);
    -moz-transition: left 849ms cubic-bezier(0.74, 0.215, 0.125, 1.02), right 849ms cubic-bezier(0.74, 0.215, 0.125, 1.02);
    -o-transition: left 849ms cubic-bezier(0.74, 0.215, 0.125, 1.02), right 849ms cubic-bezier(0.74, 0.215, 0.125, 1.02);
    transition: left 849ms cubic-bezier(0.74, 0.215, 0.125, 1.02), right 849ms cubic-bezier(0.74, 0.215, 0.125, 1.02);
    /* custom */
    transition-delay: 0.06s;
  }
  &.header-right {
    &.menu-is-open ~ #hero-and-body #hero[class*='side-left'].is_stuck:not(.sticky_bottom), &.action-is-active ~ #hero-and-body #hero[class*='side-left'].is_stuck:not(.sticky_bottom) {
      left: -300px;
    }
  }
}

/* animation */

.is-scrolling header.menu-is-open ~ #hero-and-body #hero[class*='side-'] {
  transition: none !important;
}

.breadcrumb-default {
  background: none;
  margin: -5px 0 0 0;
  padding: 5px 20px 10px 20px;
  background: #FFFFFF;
  border-radius: 0;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  &.white-text {
    a:hover {
      color: $breadcrumb-hover-color;
    }
  }
}