$brand-color: #D35B30;

//Loader
$loader-bg-color: $brand-color;

//Breadcrumb
$breadcrumb-hover-color: darkorange;

//Footer
$footer-h-color: $brand-color;
$footer-link-lh: 16px;
$footer-link-hover: $brand-color;
$footer-partner-img-height: 75px;

//Buttons
$button-bg-color: $brand-color;